@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap");
:root {
  --color1: #203454;
  --offwhite: #faf9f6;
  --gray: #babaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--offwhite);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--color1);
}

.cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-products {
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 50px;
}
.cart-container .cart-products .cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 250px;
  border: solid 4px var(--color1);
  border-bottom: solid 10px var(--color1);
  border-radius: 20px;
  padding: 20px 50px;
}
.cart-container .cart-products .cart-product img {
  aspect-ratio: 1/1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-container .cart-products .cart-product .product-infos {
  width: auto;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color1);
}
.cart-container .cart-products .cart-product .product-infos h1 {
  font-size: 2rem;
  font-weight: 700;
}
.cart-container .cart-products .cart-product .product-infos p {
  font-size: 1.5rem;
  font-weight: 300;
}
.cart-container .cart-products .cart-product .product-infos h2 {
  text-align: end;
  font-size: 2rem;
  font-weight: 700;
}
.cart-container .cart-products span {
  display: flex;
  width: 4px;
  height: 25px;
  background-color: var(--color1);
}
.cart-container .cart-price {
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 4px var(--color1);
  border-bottom: solid 10px var(--color1);
  border-radius: 20px;
}
.cart-container .cart-price h1 {
  font-size: 3rem;
  font-weight: 700;
}
.cart-container .cart-price h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 20px;
}
.cart-container .cart-price hr {
  border: solid 2px var(--color1);
  margin: 0 -20px;
}
.cart-container .cart-price .buy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-container .cart-price .buy-button button {
  width: 100%;
  outline: none;
  border: solid 4px var(--color1);
  border-radius: 10px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color1);
  background: var(--offwhite);
  transition: all 0.05s ease;
}
.cart-container .cart-price .buy-button span {
  display: flex;
  width: 100%;
  height: 30px;
  position: relative;
  top: -20px;
  background-color: var(--color1);
  border-radius: 10px;
  z-index: -1;
}
.cart-container .cart-price .buy-button button:active {
  transform: translateY(10px);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
  width: 100%;
  height: 200px;
  background-color: var(--color1);
  color: var(--offwhite);
}
footer h1 {
  font-size: 3rem;
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact h2 {
  margin: 10px;
  font-size: 2rem;
}
footer .contact p {
  font-size: 1.5rem;
  font-weight: 500;
}/*# sourceMappingURL=carrinho.css.map */