<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/carrinho.css">
    <title>Carrinho</title>
</head>

<body>

    <div class="cart-container">
        <div class="cart-products">
            <div class="cart-product">
                <img src="../img/product-1.jpg" alt="">
                <div class="product-infos">
                    <h1>Produto 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere voluptate eligendi
                        doloremque temporibus et quis consequuntur deleniti vitae animi.</p>
                    <h2>999,99</h2>
                </div>
            </div>
            <span></span>
            <div class="cart-product">
                <img src="../img/product-2.jpg" alt="">
                <div class="product-infos">
                    <h1>Produto 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere voluptate eligendi
                        doloremque temporibus et quis consequuntur deleniti vitae animi.</p>
                    <h2>999,99</h2>
                </div>
            </div>
            <span></span>
            <div class="cart-product">
                <img src="../img/product-3.jpg" alt="">
                <div class="product-infos">
                    <h1>Produto 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere voluptate eligendi
                        doloremque temporibus et quis consequuntur deleniti vitae animi.</p>
                    <h2>999,99</h2>
                </div>
            </div>

        </div>

        <div class="cart-price">
            <h1>Subtotal</h1>
            <h2>999,99</h2>
            <hr>
            <h1>Total</h1>
            <h2>999,99</h2>
            <div class="buy-button">
                <button>Comprar</button>
                <span></span>
            </div>
        </div>
    </div>



    <footer>
        <h1>Brand name</h1>
        <div class="contact">
            <h2>Contact</h2>
            <p>4002-8922</p>
        </div>
    </footer>


</body>

</html>