<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/produto.css">
    <title>Produto 4</title>
</head>

<body>

    <section class="product-container">
        <div class="left-product-container">
            <img src="../img/product-4.jpg" alt="Imagem">
        </div>
        <div class="right-product-container">
            <h1>Product 4</h1>
            <h2>999,99</h2>
            <div class="button">
                <a href="carrinho.html">Comprar</a>
                <span></span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, praesentium.</p>
        </div>
    </section>

    <span class="connection"></span>

    <section class="product-description">
        <h1>Product Description</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, veniam eius ratione, nihil delectus
            aspernatur fugiat atque beatae enim ab laudantium, corporis nam quod. Expedita ullam, temporibus mollitia
            nobis atque id ab non? Ea doloremque modi accusantium ullam fuga, accusamus, laudantium veritatis, tempora
            expedita nesciunt enim inventore natus facere error?</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, incidunt itaque! Cupiditate aut provident
            sint iste ab odio explicabo veritatis vero cumque quaerat! Debitis dolorum distinctio saepe eos aliquam aut
            nihil vel voluptates, vitae nemo nulla nisi accusantium incidunt voluptatibus quod neque officiis tempora
            obcaecati assumenda officia sed? Ad deleniti iste veritatis quidem, sapiente beatae quas. Veniam ipsa
            tempora autem?</p><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident amet neque deserunt dolorem, numquam
            molestias hic eveniet praesentium repellat velit adipisci quis laudantium sed veniam ipsa dolore voluptas
            culpa. Quas.</p><br>
    </section>

    <footer>
        <h1>Brand name</h1>
        <div class="contact">
            <h2>Contact</h2>
            <p>4002-8922</p>
        </div>
    </footer>
</body>

</html>